# Visual studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

[Dd]ebug/
[Rr]elease/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

packages/

.vs/
*.VisualState.xml
TestResult.xml

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user