.vs/
src/StoryTree.Gui/bin/Debug/StoryTree.Gui.exe.config
src/StoryTree.Gui/obj/Debug/App.g.cs
src/StoryTree.Gui/obj/Debug/App.g.i.cs
src/StoryTree.Gui/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/StoryTree.Gui/obj/Debug/StoryTree.Gui.csproj.CopyComplete
src/StoryTree.Gui/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
src/StoryTree.Gui/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/StoryTree.Gui/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/StoryTree.Gui/obj/Debug/StoryTree.Gui_MarkupCompile.lref
src/StoryTree.Gui/obj/Debug/StoryTree.Gui.g.resources
src/StoryTree.Gui/obj/Debug/StoryTree.Gui.csproj.FileListAbsolute.txt
src/StoryTree.Gui/obj/Debug/StoryTree.Gui.Properties.Resources.resources
src/StoryTree.Gui/obj/Debug/MainWindow.g.i.cs
src/StoryTree.Gui/obj/Debug/MainWindow.g.cs
src/StoryTree.Gui/obj/Debug/MainWindow.baml
src/StoryTree.Gui/obj/Debug/GeneratedInternalTypeHelper.g.cs
src/StoryTree.Gui/obj/Debug/EventTreeControl.g.i.cs
src/StoryTree.Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/StoryTree.Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/StoryTree.Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/StoryTree.Data/obj/Debug/StoryTree.Data.csproj.FileListAbsolute.txt
