<?include Variables.wxi?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Forest"
    Language="1033"
    Manufacturer="Pieter van Geer"
    Version="24.1.1"
    UpgradeCode="BAC17F57-E11D-4CC3-859C-B98125C431B5"
    Compressed="yes">

    <MediaTemplate EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="Er is reeds een nieuwere versie van Forest geinstalleerd. Het installatieproces wordt nu gestopt."/>

    <Icon Id="Forest.ico" SourceFile="Forest.ico" />
    <Property Id="ARPPRODUCTICON" Value="Forest.ico" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="Forest" />
    </StandardDirectory>

    <Directory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Forest" />
    </Directory>

    <Feature Id="Forest">
      <ComponentGroupRef Id="Forest.Binaries" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

  </Package>
</Wix>