<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="DCC12F07-253C-4A30-A404-6ED0FB2E95F9">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Forest"
                  Description="Programma om foutenbomen en faalpadanalyses mee uit te voeren"
                  Target="[#Forest.App.File]"
                  Icon="Forest.ico"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY" />
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Pieter\Forest" Name="installed" Type="integer" Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>