<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Stakeholderanalyse"
    Language="1033"
    Manufacturer="Pieter van Geer"
    Version="23.2.4"
    UpgradeCode="81d0955d-b5a5-417b-a115-05e931d45854"
    Compressed="yes">

    <MediaTemplate EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="Er is reeds een nieuwere versie van Stakeholderanalyse geinstalleerd. Het installatieproces wordt nu gestopt."/>

    <Icon Id="StakeholderAnalysis.ico" SourceFile="Logo.ico" />
    <Property Id="ARPPRODUCTICON" Value="StakeholderAnalysis.ico" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="StakeholderAnalysis" />
      </Directory>
    </Directory>

    <Directory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Stakeholderanalyse" />
    </Directory>

    <Feature Id="StakeholderAnalysis">
      <ComponentGroupRef Id="StakeholderAnalysis.Binaries" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

  </Package>
</Wix>